<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="connection.url">jdbc:postgresql://localhost:5432/hibernate</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.username">postgres</property>
    <property name="connection.password">root</property>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <mapping class="by.yungchr1sttt.hibernate.entity.User"/>
    <mapping class="by.yungchr1sttt.hibernate.entity.Company"/>
    <mapping class="by.yungchr1sttt.hibernate.entity.Profile"/>
    <mapping class="by.yungchr1sttt.hibernate.entity.Chat"/>
    <mapping class="by.yungchr1sttt.hibernate.entity.UserChat"/>
    <mapping class="by.yungchr1sttt.hibernate.entity.Course"/>
    <mapping class="by.yungchr1sttt.hibernate.entity.Student"/>
    <mapping class="by.yungchr1sttt.hibernate.entity.StudentProfile"/>
    <mapping class="by.yungchr1sttt.hibernate.entity.Author"/>
    <mapping class="by.yungchr1sttt.hibernate.entity.Book"/>


    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>